/* Reset */
.dark {
  color-scheme: dark;
}
.dark ::-moz-selection  {
  background: #444;
}
.dark ::selection {
  background: #444;
}

* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

